@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color:burlywood;
}
.container{
    margin: auto;

}
input{
width: 50vw;
margin: auto;
display: block;
}
.nav{
    padding: 2rem 2rem;
    border-bottom-left-radius: 2rem;
    text-align: center;
    background-color: orangered;
    
}
.nav-pills{
padding: 2rem;
text-align: center;
margin: auto;
color: white;

}