@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color:burlywood;
}


.nav{
    padding: 2rem 2rem;
    border-bottom-left-radius: 2rem;
    text-align: center;
    background-color: orangered;
    
}
.nav-pills{
padding: 2rem;
text-align: center;
margin: auto;
color: white;

}
label{
    margin: auto;
    text-align: center;
    
}

#submit-answer-btn{
    width: 10%;
    text-align: center;
    margin: auto;
}
#output{
    padding: 2rem;
    margin: auto;
    text-align: center;
}